[package]
name = "blightmud"
version = "3.6.0"
description = "A terminal mud-client"
readme = "README.md"
license = "GPL3"
authors = ["Linus Probert"]
edition = "2021"
build = "build.rs"

[lib]
doctest = false
crate-type = ["rlib"]

[features]
text-to-speech = ["tts"]

[dependencies]
libtelnet-rs = "2.0.0"
termion = "1.5.6"
log = "0.4.14"
simple-logging = "2.0.2"
chrono = "0.4.19"
signal-hook = "0.3.12"
mlua =  { version = "0.7.0", features = ["lua54", "send", "vendored"] }
regex = "1.5.4"
strip-ansi-escapes = "0.1.1"
timer = "0.2.0"
flate2 = "1.0.22"
mdcat = { version = "0.24.2", default-features = false }
pulldown-cmark = "0.8.0"
syntect = "4.6.0"
serde = { version = "1.0.130", features = ['derive'] }
ron = "0.7.0"
anyhow = "1.0.51"
lazy_static = "1.4.0"
rs-complete = "1.3.0"
getopts = "0.2.21"
curl = "0.4.41"
human-panic = "1.0.3"
native-tls = "0.2.8"
tts = { version = "0.19.1", optional = true }
serde_json = "1.0.72"
git2 = "0.13.25"
rodio = "0.14.0"
notify = "4.0.17"

[dev-dependencies]
mockall = "0.10.2"
mockall_double = "0.2.0"

[package.metadata.rpm]
package = "blightmud"

[package.metadata.rpm.cargo]
buildflags = ["--release"]

[package.metadata.rpm.targets]
blightmud = { path = "/usr/bin/blightmud" }
