[package]
name = "blightmud"
version = "2.3.1"
description = "A terminal mud-client"
readme = "README.md"
license = "GPL3"
authors = ["Linus Probert"]
edition = "2018"

[features]
text-to-speech = ["tts"]

[dependencies]
libtelnet-rs = "1.1.1"
termion = "1.5.5"
log = "0.4.11"
simple-logging = "2.0.2"
chrono = "0.4.19"
signal-hook = "0.1.16"
rlua = "0.17.0"
regex = "1.4.1"
strip-ansi-escapes = "0.1.0"
timer = "0.2.0"
flate2 = "1.0.18"
mdcat = { version = "0.22.1", default-features = false }
pulldown-cmark = "0.8.0"
syntect = "4.4.0"
serde = { version = "1.0.117", features = ['derive'] }
ron = "0.6.2"
anyhow = "1.0.33"
lazy_static = "1.4.0"
rs-complete = "1.1.0"
simple-error = "0.2.2"
getopts = "0.2.21"
curl = "0.4.34"
human-panic = "1.0.3"
native-tls = "0.2.4"
tts = { version = "0.10.1", optional = true }
serde_json = "1.0.59"
