[package]
name = "blightmud"
version = "5.2.0"
description = "A terminal mud-client"
readme = "README.md"
license = "GPL3"
authors = ["Linus Probert"]
edition = "2021"
build = "build.rs"

[lib]
doctest = false
crate-type = ["rlib"]

[features]
text-to-speech = ["tts"]

[dependencies]
libtelnet-rs = "2.0.0"
termion = "2.0.1"
log = "0.4.17"
simple-logging = "2.0.2"
chrono = "0.4.24"
signal-hook = "0.3.15"
mlua =  { version = "0.8.8", features = ["lua54", "send", "vendored"] }
regex = "1.7.3"
strip-ansi-escapes = "0.1.1"
vte = "0.11.0"
timer = "0.2.0"
flate2 = "1.0.25"
mdcat = { version = "1.1.1", default-features = false }
pulldown-cmark = "0.9.2"
syntect = "5.0.0"
serde = { version = "1.0.159", features = ['derive'] }
ron = "0.8.0"
anyhow = "1.0.70"
lazy_static = "1.4.0"
rs-complete = "1.3.1"
getopts = "0.2.21"
curl = "0.4.44"
human-panic = "1.1.1"
native-tls = "0.2.11"
tts = { version = "0.25.1", optional = true }
serde_json = "1.0.94"
git2 = "0.16.1"
rodio = "0.17.0"
notify-debouncer-mini = "0.2.1"
hunspell-rs = "0.4.0"
hunspell-sys = { version = "0.3.0", features = ['bundled'] }

[dev-dependencies]
mockall = "0.11.3"
mockall_double = "0.3.0"

[package.metadata.rpm]
package = "blightmud"

[package.metadata.rpm.cargo]
buildflags = ["--release"]

[package.metadata.rpm.targets]
blightmud = { path = "/usr/bin/blightmud" }
