[package]
name = "blightmud"
version = "3.3.0"
description = "A terminal mud-client"
readme = "README.md"
license = "GPL3"
authors = ["Linus Probert"]
edition = "2018"
build = "build.rs"

[features]
text-to-speech = ["tts"]

[dependencies]
libtelnet-rs = "1.1.2"
termion = "1.5.6"
log = "0.4.14"
simple-logging = "2.0.2"
chrono = "0.4.19"
signal-hook = "0.3.10"
mlua =  { version = "0.6.2", features = ["lua54", "send", "vendored"] }
regex = "1.5.4"
strip-ansi-escapes = "0.1.1"
timer = "0.2.0"
flate2 = "1.0.21"
mdcat = { version = "0.23.2", default-features = false }
pulldown-cmark = "0.8.0"
syntect = "4.6.0"
serde = { version = "1.0.130", features = ['derive'] }
ron = "0.6.4"
anyhow = "1.0.43"
lazy_static = "1.4.0"
rs-complete = "1.2.1"
getopts = "0.2.21"
curl = "0.4.38"
human-panic = "1.0.3"
native-tls = "0.2.8"
tts = { version = "0.17.3", optional = true }
serde_json = "1.0.67"
git2 = "0.13.22"
rodio = "0.14.0"

[dev-dependencies]
mockall = "0.10.2"
mockall_double = "0.2.0"
