[package]
name = "blightmud"
version = "5.3.0"
description = "A terminal mud-client"
readme = "README.md"
license = "GPL3"
authors = ["Linus Probert"]
edition = "2021"
build = "build.rs"

[lib]
doctest = false
crate-type = ["rlib"]

[features]
default = ["spellcheck"]
text-to-speech = ["tts"]
spellcheck = ["hunspell-rs", "hunspell-sys"]

[dependencies]
libtelnet-rs = "2.0.0"
termion = "2.0.1"
log = "0.4.17"
simple-logging = "2.0.2"
chrono = "0.4.24"
signal-hook = "0.3.15"
mlua =  { version = "0.8.9", features = ["lua54", "send", "vendored"] }
regex = "1.8.1"
strip-ansi-escapes = "0.1.1"
vte = "0.11.0"
timer = "0.2.0"
flate2 = "1.0.26"
mdcat = { version = "1.1.1", default-features = false }
pulldown-cmark = "0.9.2"
syntect = "5.0.0"
serde = { version = "1.0.163", features = ['derive'] }
ron = "0.8.0"
anyhow = "1.0.71"
lazy_static = "1.4.0"
rs-complete = "1.3.1"
getopts = "0.2.21"
human-panic = "1.1.1"
tts = { version = "0.25.5", optional = true }
serde_json = "1.0.96"
git2 = "0.17.1"
rodio = "0.17.0"
notify-debouncer-mini = "0.3.0"
hunspell-rs = { version = "0.4.0", optional = true }
hunspell-sys = { version = "0.3.0", features = ['bundled'], optional = true }
rustls = { version = "0.21.1", features = ['dangerous_configuration'] }
webpki-roots = { version = "0.23.0" }
reqwest = { version = "0.11.18", default-features = false, features = ['rustls-tls', 'json'] }

[dev-dependencies]
mockall = "0.11.4"
mockall_double = "0.3.0"
rustls-pemfile = "1.0.2"
env_logger = "0.10.0"

[package.metadata.rpm]
package = "blightmud"

[package.metadata.rpm.cargo]
buildflags = ["--release"]

[package.metadata.rpm.targets]
blightmud = { path = "/usr/bin/blightmud" }
