[package]
name = "blightmud"
version = "5.4.0"
description = "A terminal mud-client"
readme = "README.md"
license = "GPL3"
authors = ["Linus Probert"]
edition = "2021"
build = "build.rs"

[lib]
doctest = false
crate-type = ["rlib"]

[features]
default = ["spellcheck"]
text-to-speech = ["tts"]
spellcheck = ["hunspell-rs", "hunspell-sys"]

[dependencies]
libtelnet-rs = "2.0.0"
termion = "2.0.3"
log = "0.4.20"
simple-logging = "2.0.2"
chrono = "0.4.31"
signal-hook = "0.3.17"
mlua =  { version = "0.9.1", features = ["lua54", "send", "vendored", "macros"] }
regex = "1.10.2"
strip-ansi-escapes = "0.2.0"
vte = "0.12.0"
timer = "0.2.0"
flate2 = "1.0.28"
pulldown-cmark-mdcat = { version = "2.0.3", default-features = false }
pulldown-cmark = "0.9.3"
syntect = "5.1.0"
serde = { version = "1.0.192", features = ['derive'] }
ron = "0.8.1"
anyhow = "1.0.75"
lazy_static = "1.4.0"
rs-complete = "1.3.1"
getopts = "0.2.21"
human-panic = "1.2.1"
tts = { version = "0.25.6", optional = true }
serde_json = "1.0.108"
git2 = "0.18.1"
rodio = "0.17.3"
notify-debouncer-mini = "0.4.1"
hunspell-rs = { version = "0.4.0", optional = true }
hunspell-sys = { version = "0.3.0", features = ['bundled'], optional = true }
rustls = { version = "0.21.8", features = ['dangerous_configuration'] }
webpki-roots = { version = "0.25.2" }
reqwest = { version = "0.11.22", default-features = false, features = ['blocking', 'rustls-tls', 'json'] }

[dev-dependencies]
mockall = "0.11.4"
mockall_double = "0.3.0"
rustls-pemfile = "1.0.3"
env_logger = "0.10.0"

[profile.dev.package.hunspell-sys]
# fixes debug profile build errs from warnings of the form:
#   warning _FORTIFY_SOURCE requires compiling with optimization (-O)
opt-level = 3

[package.metadata.rpm]
package = "blightmud"

[package.metadata.rpm.cargo]
buildflags = ["--release"]

[package.metadata.rpm.targets]
blightmud = { path = "/usr/bin/blightmud" }
